<h3>Hello <%= current_user.email %></h3>
<% if @price %>
  <p>
    You are on a <strong> <%= @price.product.name %> </strong> plan !
  </p>
<% else %>
  <p>
    <%= link_to "Plans", plans_path %>
  </p>
<% end %>
<p>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
</p>
